## Import packages

In [7]:
import pandas as pd

## Read in Antelope file
Since all the fields with numbers are year or address data, we won't be doing any math. It's safe to read in everything as a string with [read_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) option dtype.

In [8]:
antelope = pd.read_csv('Nebraska/Hunt/Antelope.csv', sep='\t', dtype=str)
antelope.head()

,permitYear,Permit Type,FullName,firstName,middleName,lastName,Suffix,street,city,state,zip
0,2020,Antelope,Non-Resident Landowner Archery-LO- Antelope,Joel,NaN,Thomsen,NaN,10647 Wyoming rd,EDGEMONT,SD,57735
1,2020,Antelope,Non-Resident Landowner Archery-LO- Antelope,Lucas,A,Schumacher,NaN,11039 Rifle Ct,COMMERCE CITY,CO,80022
2,2020,Antelope,Non-Resident Landowner Archery-LO- Antelope,David,NaN,Harmon,NaN,20992 County Road 22,HUDSON,CO,80642
3,2020,Antelope,Non-Resident Landowner Archery-LO- Antelope,Stephanie,NaN,Harmon,NaN,20992 County Road 22,HUDSON,CO,80642
4,2020,Antelope,Non-Resident-Statewide Antelope Archery- Antelope,Gatlin,d,Healy,NaN,2235 E 2300 AVE,SAINT ELMO,IL,62458

## Fix ZIP Codes
Some of the zips in the source data are missing zeros at the start, like in row 155. A subset of rows can be selected with [iloc](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html).

In [9]:
antelope.iloc[[155]]

,permitYear,Permit Type,FullName,firstName,middleName,lastName,Suffix,street,city,state,zip
155,2020,Antelope,Non-Resident-Statewide Antelope Archery- Antelope,Gavin,NaN,Sappier,NaN,610 storer rd,BRADFORD,ME,4410

To fix this we add zeros to the front of the string to make up the difference using [zfill](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.zfill.html).

In [10]:
antelope['zip'] = antelope['zip'].str.zfill(5)
antelope.iloc[[155]]

,permitYear,Permit Type,FullName,firstName,middleName,lastName,Suffix,street,city,state,zip
155,2020,Antelope,Non-Resident-Statewide Antelope Archery- Antelope,Gavin,NaN,Sappier,NaN,610 storer rd,BRADFORD,ME,04410

## Title Case name and address
Make all the name and address fields more readable

In [11]:
antelope['firstName'] = antelope['firstName'].str.title()
antelope['middleName'] = antelope['middleName'].str.title()
antelope['lastName'] = antelope['lastName'].str.title()
antelope['city'] = antelope['city'].str.title()
antelope['street'] = antelope['street'].str.title()
antelope.head()

,permitYear,Permit Type,FullName,firstName,middleName,lastName,Suffix,street,city,state,zip
0,2020,Antelope,Non-Resident Landowner Archery-LO- Antelope,Joel,NaN,Thomsen,NaN,10647 Wyoming Rd,Edgemont,SD,57735
1,2020,Antelope,Non-Resident Landowner Archery-LO- Antelope,Lucas,A,Schumacher,NaN,11039 Rifle Ct,Commerce City,CO,80022
2,2020,Antelope,Non-Resident Landowner Archery-LO- Antelope,David,NaN,Harmon,NaN,20992 County Road 22,Hudson,CO,80642
3,2020,Antelope,Non-Resident Landowner Archery-LO- Antelope,Stephanie,NaN,Harmon,NaN,20992 County Road 22,Hudson,CO,80642
4,2020,Antelope,Non-Resident-Statewide Antelope Archery- Antelope,Gatlin,D,Healy,NaN,2235 E 2300 Ave,Saint Elmo,IL,62458

## Add hunt and fish columns
All data in this file is hunting, so 'Y' for hunt and '' for fish

In [12]:
antelope['hunt'] = 'Y'
antelope['fish'] = ''
antelope.head()

,permitYear,Permit Type,FullName,firstName,middleName,lastName,Suffix,street,city,state,zip,hunt,fish
0,2020,Antelope,Non-Resident Landowner Archery-LO- Antelope,Joel,NaN,Thomsen,NaN,10647 Wyoming Rd,Edgemont,SD,57735,Y,
1,2020,Antelope,Non-Resident Landowner Archery-LO- Antelope,Lucas,A,Schumacher,NaN,11039 Rifle Ct,Commerce City,CO,80022,Y,
2,2020,Antelope,Non-Resident Landowner Archery-LO- Antelope,David,NaN,Harmon,NaN,20992 County Road 22,Hudson,CO,80642,Y,
3,2020,Antelope,Non-Resident Landowner Archery-LO- Antelope,Stephanie,NaN,Harmon,NaN,20992 County Road 22,Hudson,CO,80642,Y,
4,2020,Antelope,Non-Resident-Statewide Antelope Archery- Antelope,Gatlin,D,Healy,NaN,2235 E 2300 Ave,Saint Elmo,IL,62458,Y,

## Replace NaNs with empty string
Also handle blank space in names

In [13]:
antelope = antelope.fillna('')
antelope = antelope.replace(' ','')
antelope.head()

,permitYear,Permit Type,FullName,firstName,middleName,lastName,Suffix,street,city,state,zip,hunt,fish
0,2020,Antelope,Non-Resident Landowner Archery-LO- Antelope,Joel,,Thomsen,,10647 Wyoming Rd,Edgemont,SD,57735,Y,
1,2020,Antelope,Non-Resident Landowner Archery-LO- Antelope,Lucas,A,Schumacher,,11039 Rifle Ct,Commerce City,CO,80022,Y,
2,2020,Antelope,Non-Resident Landowner Archery-LO- Antelope,David,,Harmon,,20992 County Road 22,Hudson,CO,80642,Y,
3,2020,Antelope,Non-Resident Landowner Archery-LO- Antelope,Stephanie,,Harmon,,20992 County Road 22,Hudson,CO,80642,Y,
4,2020,Antelope,Non-Resident-Statewide Antelope Archery- Antelope,Gatlin,D,Healy,,2235 E 2300 Ave,Saint Elmo,IL,62458,Y,

## Drop Duplicate Records

In [14]:
antelope.shape

(1616, 13)

In [15]:
antelope.drop_duplicates(inplace=True)
antelope.shape

(1616, 13)

## Assign Record ID

In [16]:
antelope['RecordID'] = antelope.index + 1
antelope.head()

,permitYear,Permit Type,FullName,firstName,middleName,lastName,Suffix,street,city,state,zip,hunt,fish,RecordID
0,2020,Antelope,Non-Resident Landowner Archery-LO- Antelope,Joel,,Thomsen,,10647 Wyoming Rd,Edgemont,SD,57735,Y,,1
1,2020,Antelope,Non-Resident Landowner Archery-LO- Antelope,Lucas,A,Schumacher,,11039 Rifle Ct,Commerce City,CO,80022,Y,,2
2,2020,Antelope,Non-Resident Landowner Archery-LO- Antelope,David,,Harmon,,20992 County Road 22,Hudson,CO,80642,Y,,3
3,2020,Antelope,Non-Resident Landowner Archery-LO- Antelope,Stephanie,,Harmon,,20992 County Road 22,Hudson,CO,80642,Y,,4
4,2020,Antelope,Non-Resident-Statewide Antelope Archery- Antelope,Gatlin,D,Healy,,2235 E 2300 Ave,Saint Elmo,IL,62458,Y,,5

## Add Address 2 and Suffix columns
to feed ExactTrack

In [17]:
antelope['addr2'] = ''
antelope.head()

,permitYear,Permit Type,FullName,firstName,middleName,lastName,Suffix,street,city,state,zip,hunt,fish,RecordID,addr2
0,2020,Antelope,Non-Resident Landowner Archery-LO- Antelope,Joel,,Thomsen,,10647 Wyoming Rd,Edgemont,SD,57735,Y,,1,
1,2020,Antelope,Non-Resident Landowner Archery-LO- Antelope,Lucas,A,Schumacher,,11039 Rifle Ct,Commerce City,CO,80022,Y,,2,
2,2020,Antelope,Non-Resident Landowner Archery-LO- Antelope,David,,Harmon,,20992 County Road 22,Hudson,CO,80642,Y,,3,
3,2020,Antelope,Non-Resident Landowner Archery-LO- Antelope,Stephanie,,Harmon,,20992 County Road 22,Hudson,CO,80642,Y,,4,
4,2020,Antelope,Non-Resident-Statewide Antelope Archery- Antelope,Gatlin,D,Healy,,2235 E 2300 Ave,Saint Elmo,IL,62458,Y,,5,

## Reorder columns
Using [reindex](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.reindex.html)

In [18]:
list(antelope.columns)

['permitYear',
 'Permit Type',
 'FullName',
 'firstName',
 'middleName',
 'lastName',
 'Suffix',
 'street',
 'city',
 'state',
 'zip',
 'hunt',
 'fish',
 'RecordID',
 'addr2']

In [19]:
antelope = antelope.reindex(columns=['RecordID', 'permitYear', 'Permit Type', 'FullName', 'firstName', 'middleName', 'lastName', 'Suffix', 'street', 'addr2', 'city', 'state', 'zip', 'hunt', 'fish'])
antelope.head()

,RecordID,permitYear,Permit Type,FullName,firstName,middleName,lastName,Suffix,street,addr2,city,state,zip,hunt,fish
0,1,2020,Antelope,Non-Resident Landowner Archery-LO- Antelope,Joel,,Thomsen,,10647 Wyoming Rd,,Edgemont,SD,57735,Y,
1,2,2020,Antelope,Non-Resident Landowner Archery-LO- Antelope,Lucas,A,Schumacher,,11039 Rifle Ct,,Commerce City,CO,80022,Y,
2,3,2020,Antelope,Non-Resident Landowner Archery-LO- Antelope,David,,Harmon,,20992 County Road 22,,Hudson,CO,80642,Y,
3,4,2020,Antelope,Non-Resident Landowner Archery-LO- Antelope,Stephanie,,Harmon,,20992 County Road 22,,Hudson,CO,80642,Y,
4,5,2020,Antelope,Non-Resident-Statewide Antelope Archery- Antelope,Gatlin,D,Healy,,2235 E 2300 Ave,,Saint Elmo,IL,62458,Y,